In [2]:
print("Hello")

Hello

In [3]:
x =30 #this init variable

''' 

'''

print("""my "age is""",x)

my "age is 30

In [ ]:
name ="depi"
age=30
print("my name is {} and my age is {}".format(name,age))

my name is depi and my age is 30
my name is depi and my age is 30

In [ ]:
#quiz
name="mariam"
age=20
course_name="machine learning"
print(f"my name is {name} ,and I am {age} years old.i am engaged in learing {course_name}")

my name is mariam ,and I am 20 years old.i am engaged in learing machine learing

In [ ]:
#data type
x = "44"
print(type(x))

<class 'str'>

In [ ]:
#string 
s="depi learning for machine learning"
print(s.index('e'))
print(s[0:3])
print(s.upper())
print(s.capitalize())
print(s.replace("depi","amit"))
print(s.count("e"))
x=s.split() 
print(type(x))
response=' '.join(x)
response
response.startswith('d')

1
dep
DEPI LEARNING FOR MACHINE LEARNING
Depi learning for machine learning
amit learning for machine learning
4
<class 'list'>

True

In [ ]:
#Escape Characters
print("hello\nworld")
print("hello \"world\"")
print("hello \tworld")
print("hello world")

hello
world
hello "world"
hello	world

In [ ]:
x=2
X=2
print(hex(id(x)))
print(id(X))

0x7ffdb303e9d8
140727606831576

In [3]:
#list
x=[1,2,3,"depi",3.5,True,["mariam","gaber","farg"]]
type(x)
name="mariam"
l=list(name)
l.reverse()
l

['m', 'a', 'i', 'r', 'a', 'm']

In [63]:
#tuple
x=(1,2,3,"depi",3.5,True,["mariam","gaber","farg"])
type(x)

tuple