In [19]:
class person:
   def __init__ (self,name,age):
      self.name=name
      self.age=age

   def __str__(self):#user
      print('__str__called')
      return f"person (name='{self.name}' ,age={self.age})"
   

   def __repr__(self):#developer
      return self.name
  

p1=person('mariam',21)

p1

mariam

In [6]:
p1.__str__()

__str__called

"person (name='mariam' ,age=21)"

In [18]:
p1

mariam

In [27]:
class Student:
   _id_counter =1

   def __init__(self,name):
      self.student_id=Student._id_counter
      Student._id_counter+=1
      self.name=name

In [28]:
s1=Student('mariam')

In [29]:
s1.student_id 
s2=Student('abdallah')
s2.student_id

2

In [35]:
class Student:
   _id_counter =1

   def __init__(self,name):
      self.student_id=Student._id_counter
      Student._id_counter+=1
      self.name=name
      self.grades={}
      self.enroolled_courses=[]


   def __str__(self):
       return f"Student ID: {self.student_id} ,Name :{self.name} , Grades : {(self.grades)}"
   
   
   def add_grade(self,course_id,grade):
      self.grades[course_id]=grade

   def enrolled_in_course(self,course):
      self.enroolled_courses.append(course)

In [37]:
s1=Student("mariam")
s1.add_grade(1,90)
s1.enrolled_in_course('course=ml')
print(s1)

Student ID: 2 ,Name :mariam , Grades : {1: 90}